*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  sans-serif;
  text-decoration: none;
  text-align: justify;
}
body{
  background-color: #ffffff;
}
.container{
  margin: auto;
  max-width: 1200px;
  width: 90%;
  display: flex;
  flex-flow: row wrap;

}
header, footer{
  background-color: gold;
  color: #ffffff;
  padding: 1em;

  align-items: center;
  display: flex;
  flex-basis: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
 }
 header nav a{
   color: steelblue;
   padding: 0.5em;
 }
 header nav a:hover{
   color: #ffffff;
   padding: 1em;
 }

header nav{
  margin: 7px;
  border: 1px solid;
  border-color: #ffffff;
  padding: 2px;
  flex-basis: 37%;
  text-align: center;
}

section{
  background-color: ;
  padding: 1.5em;
  flex: 1 1 60%
}

section p, section hr, section h1{
  margin-bottom: 1em;
}

aside{
  background-color: #96ffb7;
  width: 40%;
  flex: 1 1 40%
}

aside p{
  background-color: #85d9f7;
  margin: 1em;
  padding: 1em;
}

footer{
   width: 87%;
   padding: 1.5em;
   position: fixed;
   bottom: 0;
   justify-content: flex-end;

}
